<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<section
  *ngIf="!isLoggedIn"
  class="text-center h-100 d-flex justify-content-center align-items-center py-4"
>
  <div class="alert alert-danger">
    Please Login To see this page.

    <br />
    <a routerLink="/login">Login Here</a>
  </div>
</section>

<section *ngIf="isLoggedIn" class="h-100 py-4">
  <div class="mx-auto card p-3 h-100 shadow rounded-3 col-11 col-sm-9 col-md-8">
    <h1 class="text-center">Your Cart</h1>
    <hr />

    <div *ngIf="cartItems.length == 0" class="text-center">
      <h5>There is no products in your carts.</h5>
      <a routerLink="/" class="btn btn-primary">
        <i class="bi bi-shop"></i> Shop Now</a
      >
    </div>
    <div
      *ngFor="let cart of cartItems; let index"
      class="border rounded-3 m-1 p-2"
      id="{{ cart.id }}"
    >
      <div class="d-flex flex-wrap">
        <div class="col-6 col-md-5 col-lg-4 d-flex flex-wrap flex-column">
          <h4>{{ cart.attributes.product.data.attributes.product_name }}</h4>
          <br />
          <span
            >Price : {{ cart.attributes.product.data.attributes.price }}</span
          >
        </div>
        <div class="btn-group my-auto ms-auto">
          <button class="btn btn-success" (click)="incrementQuantity(index)">
            +
          </button>
          <div class="mx-2 my-auto fs-4">
            {{ cart.attributes.quantity }}
          </div>
          <button class="btn btn-danger" (click)="decrementQuantity(index)">
            -
          </button>
        </div>
        <div class="d-flex col-4 flex-wrap">
          <div
            class="col-8 my-auto text-center fs-5 border m-1 mx-2 p-1 bg-light"
          >
            {{
              cart.attributes.product.data.attributes.price *
                cart.attributes.quantity
            }}
            ₹
          </div>
          <div (click)="removeCartItem(cart.id)" class="text-end my-auto">
            <button class="btn btn-outline-danger">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="fs-4 my-1 d-flex">
      <div
        *ngIf="cartItems.length !== 0"
        class="p-2 me-2 w-auto ms-auto border rounded-4 bg-primary-subtle"
      >
        Grand Total : {{ grandTotal }} ₹
      </div>
    </div>
    <div
      class="my-1 text-end me-3 text-danger"
      *ngIf="cartItems.length !== 0 && grandTotal === 0"
    >
      Please add Atleast one product to order.*
    </div>
    <button
      *ngIf="cartItems.length !== 0"
      [disabled]="grandTotal === 0"
      class="btn btn-primary ms-auto mx-3 col-6 col-md-4 col-lg-3"
      (click)="placeOrder()"
    >
      <i class="bi bi-cart-check"></i>
      Order
    </button>
  </div>
</section>
