<section class="d-flex flex-wrap gap-3 m-3 text-center">
  <!-- product 1  -->

  <div
    id="productCard${product.id}"
    class="card shadow col-4 col-md-3 col-lg-3"
  >
    <img src="../../../assets/Img/echo.jpg" class="card-img-top" alt="Image" />
    <div class="card-body">
      <h5 class="card-title" id="productTitle${product.id}">Product 1</h5>
      <h5 class="card-title">
        <span id="productPrice${product.id}">123</span> ₹
      </h5>

      <div class="col-12">
        <button
          id="productEditBtn-${product.id}"
          class="btn btn-primary col-12 mb-2"
        >
          Add to Cart
        </button>

        <button
          id="productEditBtn-${product.id}"
          class="btn btn-outline-danger col-12"
        >
          Add to Wishlist
        </button>
      </div>
    </div>
  </div>
  <!-- product 2 -->

  <div
    id="productCard${product.id}"
    class="card shadow col-4 col-md-3 col-lg-3"
  >
    <img src="../../../assets/Img/echo.jpg" class="card-img-top" alt="Image" />
    <div class="card-body">
      <h5 class="card-title" id="productTitle${product.id}">Product 1</h5>
      <h5 class="card-title">
        <span id="productPrice${product.id}">123</span> ₹
      </h5>

      <p class="card-text" id="productDis${product.id}">45</p>

      <p class="card-text" id="productCat${product.id}">Electronics</p>

      <div class="btn-group ms-auto my-auto">
        <button class="btn btn-success">+</button>
        <div class="mx-2 my-auto">10</div>
        <button class="btn btn-danger">-</button>
      </div>
    </div>
  </div>
</section>
