
<section class="row m-3">
  <div
    *ngFor="let product of productArray"
    id="{{ product.id }}"
    class="col-12 col-sm-6 col-md-4 col-lg-3 px-4 py-4"
  >
    <div
      class="product-card d-flex flex-column justify-content-between card shadow h-100"
    >
      <img
        src="{{
          product.attributes.product_image.data ?
          'http://localhost:1337'+
          product.attributes.product_image.data?.[0]?.attributes?.url 
          :
        '../../../assets/Img/image_not_available.png'
        }}"
        class="card-img-top"
        style="height: 150px; object-fit: cover"
        alt="Image"
      />

      <div class="card-body">
        <h5 class="card-title">
          {{ product.attributes.product_name }}
        </h5>
        <p class="card-text">
          {{ product.attributes.product_description || "No Description" }}
        </p>

        <h5 class="card-title">
          <span>{{ product.attributes.price }}</span> ₹
        </h5>
      </div>
      <div class="col-12 p-2 text-center">
        <button
          *ngIf="!cartItemArray.includes(product.id) && isLoggedIn"
          class="btn btn-primary col-12 mb-2"
          (click)="addToCart(product.id)"
        >
          Add to Cart
        </button>
        <button
          *ngIf="cartItemArray.includes(product.id) && isLoggedIn"
          class="btn btn-success col-12 mb-2"
          (click)="router.navigate(['/cart'])"
        >
          View in cart
        </button>

        <button
          *ngIf="isLoggedIn && !wishListItemArray.includes(product.id)"
          class="btn btn-outline-danger col-12"
          (click)="addToWishList(product.id)"
        >
          Add to Wishlist
        </button>
        <button
          *ngIf="isLoggedIn && wishListItemArray.includes(product.id)"
          class="btn btn-danger col-12"
        >
          Already in Wishlist
        </button>

        <button
          *ngIf="!isLoggedIn"
          (click)="login()"
          class="btn btn-outline-success col-12"
        >
          Login to Buy
        </button>
      </div>
    </div>
  </div>
</section>
