<div>
  <div>
    <div class="ms-2" *ngIf="!showUpdateForm">
      <span class="fs-3">{{ userDetails.username }} </span>
      <br />
      Email : <span>{{ userDetails.email }}</span> <br />
      <span *ngIf="userDetails.mobile_number">
        Phone : <span>{{ userDetails.mobile_number }}</span>
      </span>
    </div>

    <form *ngIf="showUpdateForm" class="w-100">
      <div class="mb-3 d-flex">
        <div for="" class="form-label me-1 col-4 col-md-3">Username</div>
        <input
          [(ngModel)]="newUserDetails.username"
          type="text"
          class="form-control"
          name="username"
        />
      </div>
      <div
        class="rounded-3 bg-danger w-auto px-2 py-1 mt-1 text-white"
        *ngIf="!updateProfileValidation.username[0]"
      >
        {{ updateProfileValidation.username[1] }}
      </div>

      <div class="mb-3 d-flex">
        <div for="" class="form-label me-1 col-6 col-md-4">Mobile Number</div>

        <input
          type="text"
          class="form-control"
          name="mobile_number"
          [(ngModel)]="newUserDetails.mobile_number"
        />
      </div>
      <div
        class="rounded-3 bg-danger w-auto px-2 py-1 mt-1 text-white"
        *ngIf="!updateProfileValidation.mobile_number[0]"
      >
        {{ updateProfileValidation.mobile_number[1] }}
      </div>

      <div
        class="rounded-3 bg-danger w-auto px-2 py-1 mt-1 text-white"
        *ngIf="!updateProfileValidation.updateError[0]"
      >
        {{ updateProfileValidation.updateError[1] }}
      </div>
      <button class="btn btn-primary" type="submit" (click)="updateProfile()">
        Update
      </button>
    </form>
  </div>
  <div class="ms-auto">
    <button
      *ngIf="showUpdateForm"
      (click)="cancelUpdateProfileBtn()"
      class="btn btn-outline-danger mt-3"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-outline-primary mt-3"
      *ngIf="!showUpdateForm"
      (click)="updateProfileBtn()"
    >
      Edit
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-pencil-square"
        viewBox="0 0 16 16"
      >
        <path
          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
        />
        <path
          fill-rule="evenodd"
          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
        />
      </svg>
    </button>
  </div>
</div>

<hr />
<app-address></app-address>
