<section
  *ngIf="isLoggedIn"
  class="text-center h-100 d-flex justify-content-center align-items-center py-4"
>
  <div class="alert alert-danger">
    You are already Logged In.
    <br />
    Please Logout First to see this page.
    <br />
    <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
  </div>
</section>

<section
  *ngIf="!isLoggedIn"
  class="h-100 d-flex justify-items-center align-items-center"
>
  <div class="mx-auto my-3 card py-3 shadow rounded-3 col-11 col-sm-9 col-md-6">
    <div class="container text-center fs-1">Register</div>
    <div>
      <div class="d-flex p-2 align-items-center">
        <span class="col-3"> Username </span>
        <div class="col-9">
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="formData.username"
          />
          <div
            class="rounded-3 bg-danger w-auto px-2 py-1 mt-1 text-white"
            *ngIf="!validateData.username[0]"
          >
            {{ validateData.username[1] }}
          </div>
        </div>
      </div>
      <div class="d-flex p-2 align-items-center">
        <span class="col-3"> Email </span>
        <div class="col-9">
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="formData.email"
          />
          <div
            class="rounded-3 bg-danger w-auto px-2 py-1 mt-1 text-white"
            *ngIf="!validateData.email[0]"
          >
            {{ validateData.email[1] }}
          </div>
        </div>
      </div>
      <div class="d-flex p-2 align-items-center">
        <span class="col-3"> Password </span>
        <div class="col-9">
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="formData.password"
          />
          <div
            class="rounded-3 bg-danger w-auto px-2 py-1 mt-1 text-white"
            *ngIf="!validateData.password[0]"
          >
            {{ validateData.password[1] }}
          </div>
        </div>
      </div>
      <div class="d-flex p-2 align-items-center">
        <span class="col-3"> Confirm Password </span>
        <div class="col-9">
          <input
            type="password"
            class="form-control"
            name="confirmPassword"
            [(ngModel)]="formData.confirmPassword"
          />
          <div
            class="rounded-3 bg-danger w-auto px-2 py-1 mt-1 text-white"
            *ngIf="!validateData.confirmPassword[0]"
          >
            {{ validateData.confirmPassword[1] }}
          </div>
        </div>
      </div>
      <div class="text-center">
        <div
          *ngIf="!validateData.register[0]"
          class="rounded-3 bg-danger px-2 py-1 my-1 text-white"
        >
          {{ validateData.register[1] }}
        </div>
        <button
          class="col-4 col-md-2 btn btn-warning rounded-5"
          (click)="register()"
        >
          Register
        </button>
      </div>
    </div>
    <div class="text-center">
      Already have an account?
      <a routerLink="/login">Login here</a>
    </div>
  </div>
</section>
