<section
  *ngIf="!isLoggedIn"
  class="text-center h-100 d-flex justify-content-center align-items-center py-4"
>
  <div class="alert alert-danger">
    Please Login To see this page.

    <br />
    <a routerLink="/login">Login Here</a>
  </div>
</section>

<section
  *ngIf="isLoggedIn"
  style="position: relative"
  class="h-100 w-100 d-flex justify-content-center -items-center py-4"
>
  <div class="d-flex flex-column gap-2">
    <button
      class="btn"
      [ngClass]="{
        'btn-success': section.account,
        'btn-outline-success': !section.account
      }"
      (click)="show('account')"
    >
      Account
    </button>
    <button
      class="btn"
      [ngClass]="{
        'btn-success': section.wishlist,
        'btn-outline-success': !section.wishlist
      }"
      (click)="show('wishlist')"
    >
      Wishlist
    </button>
    <button
      class="btn"
      [ngClass]="{
        'btn-success': section.order,
        'btn-outline-success': !section.order
      }"
      (click)="show('order')"
    >
      Order History
    </button>

    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </div>
  <div class="card ms-1 p-3 shadow rounded-3 col-11 col-sm-9 col-md-6">
    <app-account *ngIf="section.account"></app-account>
    <!-- wishlist section -->
    <app-wishlist *ngIf="section.wishlist"></app-wishlist>

    <!-- order sections  -->

    <app-orderhistory *ngIf="section.order"></app-orderhistory>
  </div>
</section>
