<div class="border rounded-4 d-flex mx-1 my-2">
  <div class="col-2 m-1">
    <img
      src="../../../assets/Img/echo.jpg"
      alt="product img"
      style="width: 100%; aspect-ratio: 1; object-fit: contain"
    />
  </div>
  <div>
    <div class="fw-bold">Product 1</div>
    <div>A fantastic product.</div>
    <div>Price : 12 ₹</div>
  </div>
  <div class="ms-auto my-auto me-3">
    <button class="btn btn-outline-danger">Remove</button>
  </div>
</div>
<div class="border rounded-4 d-flex mx-1 my-2">
  <div class="col-2 m-1">
    <img
      src="../../../assets/Img/echo.jpg"
      alt="product img"
      style="width: 100%; aspect-ratio: 1; object-fit: contain"
    />
  </div>
  <div>
    <div class="fw-bold">Product 1</div>
    <div>A fantastic product.</div>
    <div>Price : 12 ₹</div>
  </div>
  <div class="ms-auto my-auto me-3">
    <button class="btn btn-outline-danger">Remove</button>
  </div>
</div>
