<nav class="navbar bg-dark navbar-dark">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand" routerLink="">Smart Cart</a>

    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <p class="nav nav-item d-flex gap-3">
      <a *ngIf="!isLoggedIn" class="btn btn-outline-warning" routerLink="/login"
        >Login</a
      >

      <a *ngIf="isLoggedIn" class="btn btn-warning" routerLink="/cart">cart</a>
      <a
        *ngIf="isLoggedIn"
        class="btn btn-outline-warning"
        routerLink="/profile"
        >Profile</a
      >
    </p>
  </div>
</nav>
