<div class="">
  <img src="{{ product.image }}" class="card-img-top" alt="Image" />
  <div class="card-body">
    <h5 class="card-title" id="productTitle${product.id}">
      {{ product.name }}
    </h5>
    <h5 class="card-title">
      <span id="productPrice${product.id}">{{ product.price }}</span> ₹
    </h5>

    <div class="col-12">
      <button
        id="productEditBtn-${product.id}"
        class="btn btn-primary col-12 mb-2"
      >
        Add to Cart
      </button>

      <button
        id="productEditBtn-${product.id}"
        class="btn btn-outline-danger col-12"
      >
        Add to Wishlist
      </button>
    </div>
  </div>
</div>
