

<div class="fs-bold fs-3 text-center">Your Orders</div>

<div
  *ngIf="orderItems.length == 0"
  class="text-center p-2 m-2 alert alert-warning fs-4 rounded-3 border"
>
  You Dont Order Anything Yet.
  <br />
  <a routerLink="/" class="my-2 btn btn-primary">Shop Now</a>
</div>
<!-- order card -->

<div
  class="card border rounded-3 border-dark mx-2 my-4 p-2 shadow"
  *ngFor="let order of orderItems.reverse()"
>
  <div
    class="fs-4 d-flex bg-info-subtle border-bottom border-dark rounded-2 px-2 flex-wrap"
  >
    <span>Order ID : {{ order.id }}</span>
    <div class="ms-auto my-auto">
      Total : {{ order.attributes.payable_amount }}₹
    </div>
  </div>
  <div class="details d-flex gap-3 flex-wrap">
    <span class="fs-6"
      >Date : {{ order.attributes.order_date.slice(0, 10) }}</span
    >
    <span class="fs-6">Order Status : placed</span>
  </div>
  <hr />
  <div class="table">
    <table
      class="table table-striped table-hover table-borderless align-middle"
    >
      <thead class="table-dark">
        <tr>
          <th class="col">Product Name</th>
          <th class="col-2">Quantity</th>
          <th class="col-2">Price</th>
          <th class="col-3">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of order.attributes.order_items">
          <td>{{ item.attributes.product.data.attributes.product_name }}</td>
          <td>{{ item.attributes.quantity }}</td>
          <td>{{ item.attributes.product.data.attributes.price }}</td>
          <td>
            {{
              item.attributes.product.data.attributes.price *
                item.attributes.quantity
            }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
