<div class="fs-3">Your Orders</div>

<!-- order card -->
<div class="card border rounded-3 border-primary m-2 p-2">
  <span class="fs-4">Order ID : </span>
  <div class="details d-flex gap-3">
    <span class="fs-6">Date : 16 Dec 2023</span>
    <span class="fs-6">Order Status : shipped</span>
    <span>Payment Status : Done</span>
  </div>
  <hr />
  <div>
    <span>Shipping Address :</span>
    <span>abc,xyz,abc,454545</span>
  </div>
  <div>
    <div class="border rounded-4 d-flex mx-1 my-2">
      <div class="col-2 m-1">
        <img
          src="../../../assets/Img/echo.jpg"
          alt="product img"
          style="width: 100%; aspect-ratio: 1; object-fit: contain"
        />
      </div>
      <div>
        <span class="fw-bold">Product 1</span>
        <div class="d-flex gap-3">
          <p>Price : 12 ₹</p>
          <p>Quantity : 4</p>
        </div>
      </div>

      <div class="ms-auto my-auto mx-3 ps text-center">Total : 450 ₹</div>
    </div>
  </div>
</div>
